<!-- Global Header -->
<header class="slds-global-header_container">
  <a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text_focus">Skip to Navigation</a>
  <a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text_focus">Skip to Main Content</a>
  <div class="slds-global-header slds-grid slds-grid_align-spread">
    <div class="slds-global-header__item">
      <div class="slds-global-header__logo"></div>
    </div>
    <div class="slds-global-header__item slds-global-header__item_search slds-show_medium">
      <div class="slds-form-element">
        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left-right">
          <svg class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search" />
          </svg>
          <form action="#" method="post">
            <input id="global-search" name="global-search" placeholder="Search for campaign" class="slds-input" type="text" value="" autocomplete="off"/>
          </form>
          <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" title="Clear">
            <svg class="slds-button__icon slds-icon-text-light" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clear" />
            </svg>
            <span class="slds-assistive-text">Clear</span>
          </button>
        </div>
      </div>
    </div>
    <div class="slds-global-header__item">
      <ul class="slds-global-actions">
        <li class="slds-global-actions__item">
          <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
            <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__help slds-global-actions__item-action" aria-haspopup="true" title="Help and Training">
              <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#question"></use>
              </svg>
              <span class="slds-assistive-text">Help and Training</span>
            </button>
          </div>
        </li>
        <li class="slds-global-actions__item slds-hide">
          <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
            <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__setup slds-global-actions__item-action" aria-haspopup="true" title="Setup">
              <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#setup"></use>
              </svg>
              <span class="slds-assistive-text">Setup</span>
            </button>
          </div>
        </li>
        <li class="slds-global-actions__item">
          <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
            <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__notifications slds-global-actions__item-action" title="No new notifications" aria-live="assertive" aria-atomic="true">
              <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#notification"></use>
              </svg>
              <span class="slds-assistive-text">No new notifications</span>
            </button>
            <section aria-describedby="dialog-body-id-32" aria-labelledby="dialog-heading-id-32" class="slds-popover slds-popover_large slds-nubbin_top-right slds-hide" role="dialog" style="position:absolute;top:calc(100% + 12px);right:-12px">
              <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close" title="Close dialog">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                </svg>
                <span class="slds-assistive-text">Close dialog</span>
              </button>
              <header class="slds-popover__header">
                <h2 class="slds-text-heading_small" id="dialog-heading-id-32">Notifications</h2>
              </header>
              <div class="slds-popover__body slds-p-around_none" id="dialog-body-id-32">
                <ul id="user-notifications__details"></ul>
              </div>
            </section>
            <span aria-hidden="true" id="user-notifications__count" class="slds-notification-badge">0</span>
          </div>
        </li>
        <li class="slds-global-actions__item">
          <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
            <button class="slds-button slds-global-actions__avatar slds-global-actions__item-action" title="person name" aria-haspopup="true">
              <span class="slds-avatar slds-avatar_circle slds-avatar_medium">
                <img alt="Person name" src="/assets/images/avatar2.jpg" title="User avatar" />
              </span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="slds-context-bar" >
    <div class="slds-context-bar__primary">
      <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover">
        <div class="slds-context-bar__icon-action">
          <button class="slds-button slds-icon-waffle_container slds-context-bar__button" title="Description of the icon when needed">
            <span class="slds-icon-waffle">
              <span class="slds-r1"></span>
              <span class="slds-r2"></span>
              <span class="slds-r3"></span>
              <span class="slds-r4"></span>
              <span class="slds-r5"></span>
              <span class="slds-r6"></span>
              <span class="slds-r7"></span>
              <span class="slds-r8"></span>
              <span class="slds-r9"></span>
            </span>
            <span class="slds-assistive-text">Open App Launcher</span>
          </button>
        </div>
      </div>
    </div>
    <nav class="slds-context-bar__secondary" role="navigation">
      <ul class="slds-grid slds-show_medium">
        <li class="slds-context-bar__item slds-is-active">
          <a href="/email-builder" class="slds-context-bar__label-action" title="Calendar">
            <span class="slds-truncate" title="Planner">Planning Calendar</span>
          </a>
        </li>
        <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover">
          <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Campaign Builder">
            <span class="slds-truncate" title="Campaign Builder">Campaign Builder</span>
          </a>
          <div class="slds-context-bar__icon-action slds-p-left_none">
            <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button" aria-haspopup="true" title="Open menu item submenu">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown" />
              </svg>
              <span class="slds-assistive-text">Open menu item submenu</span>
            </button>
          </div>
          <div class="slds-dropdown slds-dropdown_left slds-dropdown_small">
            <ul class="slds-dropdown__list" role="menu">
              <li class="slds-dropdown__item" role="presentation">
                <a href="/email-builder/calendar.htm" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="Create new campaign">
                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#weeklyview" />
                    </svg>View campaign calendar
                  </span>
                </a>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="/email-builder/new.htm" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="Create new campaign">
                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add" />
                    </svg>Create new campaign
                  </span>
                </a>
              </li>
              <li class="slds-dropdown__header slds-has-divider_top-space" role="separator">
                <span class="slds-text-title_caps">Customisation</span>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="/email-builder/custom/banners.htm" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="Banners">
                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#all" />
                    </svg>Banners
                  </span>
                </a>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="/email-builder/custom/images.htm" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="Hero & Images">
                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image" />
                    </svg>Hero & Images
                  </span>
                </a>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="/email-builder/custom/subject.htm" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="Subject Line">
                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#text" />
                    </svg>Subject Line
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover">
          <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Brand Builder">
            <span class="slds-truncate" title="Brand Builder">Brand Builder</span>
          </a>
          <div class="slds-context-bar__icon-action slds-p-left_none">
            <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button" aria-haspopup="true" title="Open menu item submenu">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown" />
              </svg>
              <span class="slds-assistive-text">Open menu item submenu</span>
            </button>
          </div>
          <div class="slds-dropdown slds-dropdown_left slds-dropdown_x-small">
            <ul class="slds-dropdown__list" role="menu">
              <li class="slds-dropdown__item" role="presentation">
                <a href="/email-builder/brand/site.htm" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="Brand Settings">
                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#locker_service_console" />
                    </svg>Site Settings
                  </span>
                </a>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="/email-builder/brand/theme.htm" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="Theme Settings">
                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#palette" />
                    </svg>Theme Settings
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="slds-context-bar__item">
          <a href="/email-builder/templates" class="slds-context-bar__label-action" title="Template Builder">
            <span class="slds-truncate" title="Template Builder">Template Builder</span>
          </a>
        </li>
        <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover">
          <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Translations Builder<">
            <span class="slds-truncate" title="Translations Builder<">Translations Builder</span>
          </a>
          <div class="slds-context-bar__icon-action slds-p-left_none">
            <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button" aria-haspopup="true" title="Open menu item submenu">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown" />
              </svg>
              <span class="slds-assistive-text">Open menu item submenu</span>
            </button>
          </div>
          <div class="slds-dropdown slds-dropdown_left slds-dropdown_small">
            <ul class="slds-dropdown__list" role="menu">
              <li class="slds-dropdown__item" role="presentation">
                <a href="/email-builder/translations/ebm.htm" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="EBM Translations">EBM Translations</span>
                </a>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="/email-builder/translations/newsletter.htm" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="Newsletter Translations">Newsletter Translations</span>
                </a>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="/email-builder/translations/trigger.htm" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="Trigger Translations">Trigger Translations</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <nav class="slds-context-bar__secondary slds-hide_medium cs-mobile-menu" role="navigation" >
      <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-var-p-top_x-small">
        <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__help slds-global-actions__item-action" aria-haspopup="true" title="Help and Training">
          <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
          </svg>
          <span class="slds-assistive-text">MENU</span>
        </button>
        <div class="slds-dropdown slds-dropdown_right slds-dropdown_small">
            <ul class="slds-dropdown__list" role="menu">
              <li class="slds-dropdown__item" role="presentation">
                <a href="/email-builder/translations/ebm.htm" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="EBM Translations">EBM Translations</span>
                </a>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="/email-builder/translations/newsletter.htm" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="Newsletter Translations">Newsletter Translations</span>
                </a>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="/email-builder/translations/trigger.htm" role="menuitem" tabindex="-1">
                  <span class="slds-truncate" title="Trigger Translations">Trigger Translations</span>
                </a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
  </div>
</header>