                    <div class="slds-form__row slds-p-bottom_x-large">
                      <div class="slds-form__item slds-size_1-of-1 slds-medium-size_1-of-2" role="listitem">
                        <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                          <label class="slds-form-element__label" for="input__key-@">
                            Section @ Key <abbr class="slds-required" title="Required">* </abbr>
                          </label>
                          <div class="slds-form-element__control">
                            <input type="text" id="input__key-@" name="input__key-@" class="slds-input" value="" placeholder="Unique section identifier" required=""/>
                          </div>
                        </div>
                      </div>
                      <div class="slds-form__item slds-size_1-of-1 slds-medium-size_1-of-2" role="listitem">
                        <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                          <label class="slds-form-element__label" for="input__sales-@">
                            Section @ Sale ID(s) <abbr class="slds-required" title="Required">* </abbr>
                          </label>
                          <div class="slds-form-element__control">
                            <textarea id="input__sales-@" name="input__sales-@" class="slds-textarea" rows="10" placeholder="Sale IDs"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>