                    <div class="slds-form__row slds-p-bottom_x-large">
                      <div class="slds-form__item slds-size_1-of-1 slds-medium-size_1-of-2" role="listitem">
                        <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                          <label class="slds-form-element__label" for="input_section-key_@">
                            Section @ Key <abbr class="slds-required" title="Required">* </abbr>
                          </label>
                          <div class="slds-form-element__control">
                            <input type="text" id="input_section-key_@" name="input_section-key_@" class="slds-input" value="" placeholder="Unique section identifier" required=""/>
                          </div>
                        </div>
                      </div>
                      <div class="slds-form__item slds-size_1-of-1 slds-medium-size_1-of-2" role="listitem">
                        <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                          <label class="slds-form-element__label" for="input_section-sales_@">
                            Section @ Sale ID(s) <abbr class="slds-required" title="Required">* </abbr>
                          </label>
                          <div class="slds-form-element__control">
                            <textarea id="input_section-sales_@" name="input_section-sales_@" class="slds-textarea" rows="10" placeholder="Sale IDs"></textarea>
                            <input type="hidden" id="input_section-count" name="input_section-count" class="slds-input" value="1"/>
                          </div>
                        </div>
                      </div>
                    </div>