<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Welcome to Aurora</title>
    <link rel="stylesheet" href="/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="/assets/styles/custom-styles.css"/>
    <link rel="icon" type="image/png" href="/assets/images/aurora.ico">
  </head>
  <body class="slds-brand-band slds-brand-band_medium">
    <div id="global-header__email" aria-label="4"></div>
    <div id="app-launcher"></div>
    <div id="wrapper" class="slds-m-around_medium">
      <!-- Builder Header -->
      <div class="slds-builder-header_container slds-m-bottom_x-large" style="position:relative !important;">
        <header class="slds-builder-header">
          <div class="slds-builder-header__item">
            <div class="slds-builder-header__item-label slds-media slds-media_center">
              <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-builder slds-current-color">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#builder"></use>
                  </svg>
                </span>
              </div>
              <div class="slds-media__body">App Name</div>
            </div>
          </div>
          <nav class="slds-builder-header__item slds-builder-header__nav">
            <ul class="slds-builder-header__nav-list">
              <li class="slds-builder-header__nav-item">
                <a href="javascript:void(0);" class="slds-builder-header__item-action slds-media slds-media_center">
                  <span class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-utility-settings slds-current-color">
                      <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="slds-media__body">
                    <span class="slds-truncate" title="Link">Link</span>
                  </span>
                </a>
              </li>
              <li class="slds-builder-header__nav-item">
                <button class="slds-button slds-builder-header__item-action slds-media slds-media_center" aria-haspopup="true" title="Click to open menu">
                  <span class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-utility-page slds-current-color">
                      <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#page"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="slds-media__body">
                    <span class="slds-truncate" title="Dropdown">Dropdown</span>
                    <span class="slds-icon_container slds-icon-utility-chevrondown slds-current-color slds-m-left_small">
                      <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                      </svg>
                    </span>
                  </span>
                </button>
              </li>
            </ul>
          </nav>
          <div class="slds-builder-header__item slds-has-flexi-truncate">
            <h1 class="slds-builder-header__item-label">
              <span class="slds-truncate" title="Page Type">Page Type</span>
            </h1>
          </div>
          <div class="slds-builder-header__item slds-builder-header__utilities">
            <div class="slds-builder-header__utilities-item">
              <a href="javascript:void(0);" class="slds-builder-header__item-action slds-media slds-media_center">
                <div class="slds-media__figure">
                  <span class="slds-icon_container slds-icon-utility-back slds-current-color">
                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#back"></use>
                    </svg>
                  </span>
                </div>
                <div class="slds-media__body">Back</div>
              </a>
            </div>
            <div class="slds-builder-header__utilities-item">
              <a href="javascript:void(0);" class="slds-builder-header__item-action slds-media slds-media_center">
                <div class="slds-media__figure">
                  <span class="slds-icon_container slds-icon-utility-help slds-current-color">
                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#help"></use>
                    </svg>
                  </span>
                </div>
                <div class="slds-media__body">Help</div>
              </a>
            </div>
          </div>
        </header>
        <div class="slds-builder-toolbar" role="toolbar">
          <div class="slds-builder-toolbar__item-group" aria-label="Canvas Actions">
            <div class="slds-button-group">
              <button class="slds-button slds-button_icon slds-button_icon-border" title="Undo" tabindex="0">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#undo"></use>
                </svg>
                <span class="slds-assistive-text">Undo</span>
              </button>
              <button class="slds-button slds-button_icon slds-button_icon-border" title="Redo" tabindex="-1">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#redo"></use>
                </svg>
                <span class="slds-assistive-text">Redo</span>
              </button>
            </div>
          </div>
          <div class="slds-builder-toolbar__item-group" aria-label="Edit actions">
            <div class="slds-button-group">
              <button class="slds-button slds-button_icon slds-button_icon-border" title="Cut" tabindex="-1">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#cut"></use>
                </svg>
                <span class="slds-assistive-text">Cut</span>
              </button>
              <button class="slds-button slds-button_icon slds-button_icon-border" title="Copy" tabindex="-1">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#copy"></use>
                </svg>
                <span class="slds-assistive-text">Copy</span>
              </button>
              <button class="slds-button slds-button_icon slds-button_icon-border" title="Paste" tabindex="-1">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#paste"></use>
                </svg>
                <span class="slds-assistive-text">Paste</span>
              </button>
            </div>
          </div>
          <div class="slds-builder-toolbar__actions" aria-label="Document actions">
            <button class="slds-button slds-button_neutral">
              <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
              </svg> Run</button>
            <button class="slds-button slds-button_neutral">Save As</button>
            <button class="slds-button slds-button_brand">Save</button>
          </div>
        </div>
      </div>
      <!-- Card -->
      <article class="slds-card slds-m-bottom_x-large">
        <div class="slds-card__header slds-grid">
          <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__figure">
              <span class="slds-icon_container slds-icon-standard-account" title="Site Settings">
                <svg class="slds-icon slds-icon_large" aria-hidden="true">
                  <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#system_and_global_variable"></use>
                </svg>
                <span class="slds-assistive-text">Site Settings</span>
              </span>
            </div>
            <div class="slds-media__body">
              <h2 class="slds-card__header-title">
                <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Site Settings">
                  <span>Current Site List</span>
                </a>
              </h2>
            </div>
            <div class="slds-no-flex">
              <a href="/email-builder/brand/edit-site.htm" class="slds-button slds-button_neutral" disabled>New</a>
            </div>
          </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
          <!-- Data Table -->
          <table class="slds-table slds-table_cell-buffer slds-table_bordered">
            <thead>
              <tr class="slds-line-height_reset">
                <th class="" scope="col">
                  <div class="slds-truncate" title="Template Name">Template Name</div>
                </th>
                <th class="" scope="col">
                  <div class="slds-truncate" title="Description">Description</div>
                </th>
                <th class="" scope="col">
                  <div class="slds-truncate" title="Preview">Preview</div>
                </th>
              </tr>
            </thead>
            <tbody id="template_list"></tbody>
          </table>
        </div>
      </article>
      
    </div>
    <!-- SCRIPTS -->
    <script type="text/javascript" src="/scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/scripts/slds.js"></script>
    <script type="text/javascript" src="/scripts/utilities.js"></script>
    <script>
      $( document ).ready(function() {
        var status = getUrlParameter('status');
        if(status=='success'){$("#message-success").removeClass('slds-hide')};
      });
    </script>
    <script>
      // Function to async load data here
      var url = "https://pages.email.secretescapes.com/aurora/templates/list";
      $.getJSON(url, function(data) {
        var rows = '';
        for (i = 0; i < data.length; i++) {
          var templateId = data[i]["TemplateID"];
          var templateName = data[i]["TemplateName"];
          var templateLocation = data[i]["TemplateLocation"];
          var templateDescription = data[i]["TemplateDescription"];

          var rows = rows + '<tr class="slds-hint-parent">';
          var rows = rows + '  <th data-label="Template Name" scope="row">';
          var rows = rows + '    <div class="slds-truncate" title="' + templateName + '">';
          var rows = rows + '      <a href="edit-site.htm?tid=' + templateId + '" >' + templateName + '</a>';
          var rows = rows + '    </div>';
          var rows = rows + '  </th>';
          var rows = rows + '  <td data-label="Description">';
          var rows = rows + '    <div class="slds-truncate" title="' + templateDescription + '">' + templateDescription + '</div>';
          var rows = rows + '  </td>';
          var rows = rows + '  <td data-label="Preview">';
          var rows = rows + '    <div class="slds-truncate" title="' + templateLocation + '">' + templateLocation + '</div>';
          var rows = rows + '  </td>';
          var rows = rows + '</tr>';
        }
        $("#template_list").html(rows);
      });
    </script>
  </body>
</html>